<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="padding-left: 5em;">
  <form action="http://localhost:5000/" method="post" style=>
    <h3>Sinhala Search Engine - Sri Lankan Actors/Actresses</h3>
    </br>
    <p><input class="col-sm-3" type="text" name="search" placeholder="ඔබගේ විමසුම මෙහි ඇතුලත් කරන්න...        "/></p>
    <p><input type="submit" value="සොයන්න" name="form_search" /></p>
  </form>

  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="width: 50rem;">
        {% for each in data %}
          <div class="card border-dark mb-3" style="width: 50rem;">
            <div class="card-header">

                  <button class="btn" type="button" data-toggle="collapse" data-target="#collapse{{loop.index}}" aria-expanded="false" aria-controls="collapse{{loop.index}}">
                    <h4 class="mb-0">
                      {{each["name"]}}
                    </h4>
                  </button>

            </div>
            <div id="collapse{{loop.index}}" class="collapse show" aria-labelledby="headingOne">
              <div class="card-body">
                <h5 class="mb-2">
                    ජන්ම දිනය
                </h5>
                <p>{{each["dob"]}}</p>

                <h5 class="mb-2">
                    පෞද්ගලික ජීවිතය
                </h5>
                <p>{{each["bio"]}}</p>

                <h5 class="mb-2">
                    කලා දිවිය
                </h5>
                <p>{{each["career"]}}</p>

                <h5 class="mb-2">
                    ක්‍රියාකාරී කාලය
                </h5>
                <p>{{each["active_years"]}}</p>

                <h5 class="mb-2">
                    චිත්‍රපටි
                </h5>
                <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">වර්ෂය</th>
                        <th scope="col">චිත්‍රපටිය</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for film in each["films"] %}
                        <tr>
                          <td>{{film["year"]}}</td>
                          <td>{{film["name"]}}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>

                <h5 class="mb-2">
                    සම්මාන
                </h5>
                <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">වර්ෂය</th>
                        <th scope="col">චිත්‍රපටිය</th>
                        <th scope="col">සම්මානය</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for award in each["awards"] %}
                        <tr>
                          <td>{{award["year"]}}</td>
                          <td>{{award["film"]}}</td>
                          <td>{{award["name"]}}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>

              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>




  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>